@{
    ViewBag.Title = "Home";
}


<div class="row">
    
    <div class="col-md-4">
        <h2>Beauty of Cox-s Bazar</h2>
        <img src="~/Images/1.jpg" class="img-responsive" />
        <p>
            Cox’s Bazar is known for its wide sandy beach which is claimed to be the world’s longest natural sandy sea beach. It is an unbroken 125 km sandy sea beach with a gentle slope. it is a good place for sea bathing. It is located 150 km south of Chittagong.
        </p>
        <p><a class="btn btn-default" href="http://www.itravelstourism.com/Tours-details/Natural-beauty-of-Cox-s-Bazar-3-3-5-91" target="_blank">Details &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Beauty of Bandarban</h2>
        <img src="~/Images/2.jpg" class="img-responsive" />
        <p>
            Bandarban has been the most beautiful tourist destination of Bangladesh in recent years. Nature has adorned this region with its magnificent and splendid green ornaments. Beauty is scattered everywhere of Bandarban in magnanimous mood. One will find the virgin beauty of Bandarban on every step he or she advances.
        </p>
        <p><a class="btn btn-default" href="http://bangladeshqueenofnaturalbeauty.blogspot.com/p/bandarban-heaven-of-bangladesh.html" target="_blank">Details &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Beauty of Sylhet</h2>
        <img src="~/Images/3.jpg" class="img-responsive" />
        <p>
            Tea Garden: Sylhet division occupies the north east part of Bangladesh , has an area of 12596 sq. km and a population of 7.899 million. There are 4 districts and 14 municipalities under Barisal . It is a natural hilly, forest area with ox bow lakes and famous shrines.
        </p>
        <p><a class="btn btn-default" href="https://naturalbeautyofsylhet.wordpress.com/" target="_blank">Details &raquo;</a></p>
    </div>

</div>